.barraNavegacion {
    padding-top:5px;
    padding-left:15px; 
    padding-right:15px;
}

.sizeFoto {
    width:50px;
    height:50px;
}

.ziseFotoModal {
    width: 360px;
    height:360px;
}

.nombreNavegacion {
    margin-left: 60px;
}
.headerContainer{
    /*background-image:url("../public/img/fondoCeleste.jpg");*/
    background-repeat:repeat-x;
    padding-top:10px;
    position:absolute;
    margin-left:20%;
    width:60%;
    height:300px;
  /*  padding-bottom:150px;*/

}


/*Diseño reponsivo para la imagen de portada*/
@media only screen and (max-width:500){
    .headerContainer{
        margin-left: 2%;
    }
}

#headerName {
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 61, 64);
    text-shadow: 3px 3px 5px white;
    font-size: 30px;
    text-align: center;
    display: none;
    width: 53%;
    padding: 7px;
}

#headerDescription, #headerDescription1 {
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    color:rgb(255 255 255);
    text-shadow: 3px 3px 6px black;
    text-align:center;
    display:none;
    width:100%;
}
/*medidas para telefonos*/
/*El orden en que se escriben los media importa*/
/*Responsive para las letras de portada*/
@media only screen and (max-width:800px) {
    #headerTex {
        box-sizing:border-box;
        width: 60%;
        padding: 0;
        /*background-color: aquamarine;*/
    }
}

@media only screen and (max-width:660px) {
    #headerTex {
        box-sizing: border-box;
        width: 50%;
        padding-right: 20px;
        /*background-color:brown;*/
    }
}

@media only screen and (max-width:610px) {
    #headerTex {
        box-sizing:border-box;
        width: 53%;
        padding-right: 15px;
       /* background-color: blue;*/
    }
}

@media only screen and (max-width:560px) {
    #headerName {
        text-align:center;
        position:initial;
        width:90%;
        margin:auto;
        /* background-color: blue;*/
    }
}

/*Para ubicar las tarjetas*/
.containerCuadriculas {
    margin-bottom: 400px;
    margin-left: 6%;
    margin-right: 6%;
}

.cuadriculaTarjeta {
    float: left;
    box-sizing: border-box;
    width: 25%;
}

/*medidas para diferentes pantallas*/
/*El orden en que se escriben los media importa*/
/*Para dar estilo a las tres tarjetas de la pantalla de inicio*/
@media only screen and (min-width:1000px) {
    .containerCuadriculas {
        margin-bottom: 400px;
    }
}

@media only screen and (max-width:1250px) {
    .containerCuadriculas {
        margin-bottom: 600px;
    }
    .cuadriculaTarjeta{
        width:50%;
    }
    .row .card, .large {
        height: 350px;
    }
}

@media only screen and (max-width:892px) {
    .row .card, .large {
        height: 400px;
    }
}

@media only screen and (max-width:693px) {
    .cuadriculaTarjeta {
        width: 100%;
    }
    .containerCuadriculas {
        margin-bottom: 1200px;
    }
    .row #card1, #card2 {
        height: 300px;
    }
}

@media only screen and (max-width:530px) {
    .containerCuadriculas {
        margin-bottom: 1200px;
    }
    .row #card1, #card2 {
        height: 400px;
    }
    .row .card, .large{
        height: 400px;
    }
    .nombreNavegacion {
        display:none;
    }
}

/*Tamaño de los logos de redes sociales*/
img.sizeIconos {
    width: 30px;
    height: 30px;
}

/*Tamaño de label imagen del parallax*/
.sizeParallax {
    height:200px;
}

/*foto about*/

#foto {
    margin-left:7px;
    max-width: 50%;
    float: right;
    right: 10px;
    top: 100px;
    border-radius:20%;
}

#fotoHacienda {
    margin-left: 7px;
    max-width: 50%;
    float: right;
    right: 10px;
    top: 100px;
    border-radius: 20%;
}

.container-picture, .picture-vertical, picture-horizontal {
   box-sizing:border-box;
}

.picture-vertical{
    float:left;
    padding:3px;
    width:33.33%;
   
}
.picture-horizontal{
    float: left;
    padding: 3px;
    width: 50%;
    margin-bottom:30px;
}

.pic {
    width:100%;
}

#pic1{
    -ms-transform:rotate(-4deg);
    transform:rotate(-4deg);
}

#pic2 {
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

#pic3{
    -ms-transform:rotate(8deg);
    transform:rotate(8deg);   
}

#pic4{
    -ms-transform:rotate(-8deg);
    transform:rotate(-8deg);
}

#pic5{
    -ms-transform:rotate(10deg);
    transform:rotate(10deg);
}

