@{
    ViewBag.Title = "Sobre mí";
}
<div class="container">
    <h2 style="font-family:'Berlin Sans FB'; font-style:oblique;">Sobre mí</h2>


    <div>
        <img id="foto" src="~/public/img/foto.jpg" />
        <p style="font-style:oblique; font-size:1.8em;">

            Hola de nuevo...antes de marcharte ¿Te gustaría conocerme?
        </p>
        <p style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:1.5em;">
            Una de mis aspiraciones es convertirme en programador...uno de verdad y contribuir en proyectos interesantes.
        </p>
        <p style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:1.5em;">
            Por supuesto, como de seguro les ha pasado a muchos mi interés por la programación no se remonta a mi niñez,
            de hecho, ni siquiera sabía que existía. Cuando cursaba la educación básica, era ajeno a mi conocimiento
            frases como <q>desarrollo de software</q>, <q>lenguaje de programación</q> o cuál era la diferencia entre términos
            que parecen tan comunes como <q>páginas web</q> y <q>sitios web</q>.
            Aunque hacía uso de internet ignoraba toda la complejidad que conlleva.
        </p>
    </div>
    <p style="font-style:oblique; font-size:1.8em;"><q>La programación me apasiona</q></p>
    <p style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:1.5em;">
        Después de cursar el bachillerato, empecé a tratar de incorporarme al mundo laboral, durante los próximo 5 años
        desempeñe algunos trabajos, sin embargo, dentro de mí sabía que tenía la capacidad de hacer más que simples tareas
        rutinarias. Despúes de pensarlo algunos meses, decidí emprender un estudio técnico/profesional de 2 años en ESFE/AGAPE.
        Aunque no tenía muy claro que elegir, finalmente opté por elegir Desarrollo de Software. Al principio, seré honesto
        al decir, que no entendía nada de lo que decían, para mi era un mundo completamente diferentes, pero finalmente la carrera
        terminó haciendo una fuerte conexión conmigo. Me di cuenta que para ser un desarrollador de software se debe pensar mucho,
        y que en muchas ocasiones habrá retos que parecerán difíciles de lograr y eso precisamente me gustó, sabía que siempre
        hay algo nuevo que aprender.
    </p>

    <p style="font-style:oblique; font-size:1.8em;"><q>El dibujo y la pintura es mi tercera pasión</q></p>
    <p style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:1.5em;">
        Cuando no estoy estudiando o programando en mis proyectos personales, dedicó tiempo a dibujar o pintar. Claro no soy tan bueno
        en eso pero simplemente me relaja y me inspira. Creo que si pudiera hacer de eso una profesión lo haría, pero lamentablemente no
        es algo muy valorado en nuestro pais, pero de todas formas me gusta.
    </p><br />
    <div class="container-picture">
        <div class="picture-vertical" >
            <img class="pic" id="pic1" src="~/public/img/picture1.jpg" />
        </div>
        <div class="picture-vertical">
            <img class="pic" id="pic2" src="~/public/img/picture2.jpg" />
        </div>
        <div class="picture-vertical">
            <img class="pic" id="pic3" src="~/public/img/picture5.jpg" />
        </div>
    </div>
    <div class="container-picture">
        <div class="picture-horizontal">
            <img class="pic" id="pic4" src="~/public/img/picture4.jpg" />
        </div>
        <div class="picture-horizontal">
            <img class="pic" id="pic5" src="~/public/img/picture3.jpg" />
        </div>
    </div>
    <p style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:1.5em;">
        Se que puede ser aburrido leer una gran cantidad de palabras, asi que, para concluir, termino expresando que mi próxima meta
        es desempeñarme en el mundo laboral como desarrollador de software. Se que hay mucho que seguir conociendo de esta hermosa carrera,
        y mucho que aportar y claro estoy dispuesto a seguir aprendiendo.
    </p>
</div>