@{
    ViewBag.Title = "Home Page";
}

@*Portada*@

@*Inicio de parallax*@

@*Contenido del parallax*@
<div class="headerContainer">
    <div id="headerName">Alexis Díaz</div>
    @*<div id="headerDescription">Desarrollador web</div>*@
    <div id="headerDescription1">"Siempre hay algo nuevo que aprender"</div>
</div>

@*Imagen del parallax*@
<div class="parallax-container" style="width:100%">
    <div class="parallax" style="border:1px solid black"><img src="~/public/img/fondoVerde.jpg"></div>
</div>
@*Fin del parallax*@
<br />
<br />
@*Tarjetas*@
<div class="containerCuadriculas">
    <div class="cuadriculaTarjeta" id="cuadriculaTarjeta1">
        <div class="row">
            <div class="col s12">
                <div class="card large blue darken-1" id="card1">
                    <div class="card-content white-text">
                        <span class="card-title"><b>Bienvenido a mi portafolio</b></span>
                        <p style="font-size:17px">
                            Mi nombre es Alexis Diaz, estudié técnico en Ingeniería de Desarrollo de Software, y me
                            apasiona la programación.<br />
                            ¡Espero que en mi página web encuentres el perfil que buscas! Puedes hechar un vistazo
                            a mis proyectos elaborados y si lo deseas ponerte en contacto conmigo directamente
                            desde la sección <q>CONTACTO</q>.
                        </p>
                    </div>
                    @*<div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="cuadriculaTarjeta" id="cuadriculaTarjeta1">
        <div class="row">
            <div class="col s12">
                <div class="card large cyan darken-1" id="card2">
                    <div class="card-content white-text">
                        <span class="card-title"><b>Objetivo profesional</b></span>
                        <p style="font-size:17px">
                            Buscar soluciones a problemas cotidianos mediante la programación de sistemas informáticos.
                            Me apasionan las áreas tecnológicas como la programación, y estoy ansioso por aceptar nuevos retos
                            y aprender de ellos, teniendo como meta, aportar un trabajo de calidad buscando satisfacer las
                            necesidades de los clientes.
                        </p>
                    </div>
                    @*<div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="cuadriculaTarjeta">
        <div class="row">
            <div class="col s12">
                <div class="card large blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><b>Conocimientos</b></span>
                        <p>
                            <ul>
                                <li><i class="material-icons tiny green">check</i> Manejo Visual Studio 2019, 2022 y Visual Studio Code.</li>
                                <li><i class="material-icons tiny green">check</i> SQL Server.</li>
                                <li><i class="material-icons tiny green">check</i> HTML5, CSS3 Y JavaScript.</li>
                                <li><i class="material-icons tiny green">check</i> Lenguaje de programación C# y Visual Basic</li>
                                <li><i class="material-icons tiny green">check</i> JQuery</li>
                                <li><i class="material-icons tiny green">check</i> Creación de aplicaciones de escritorio.</li>
                                <li><i class="material-icons tiny green">check</i> Creación de aplicaciones web en ASP.NET MVC5, APIS Y servicios WCF</li>
                            </ul>
                            Framework CSS
                            <ul>
                                <li><i class="material-icons tiny green">check</i> Bootstrap</li>
                                <li><i class="material-icons tiny green">check</i> Materialize</li>
                            </ul>
                        </p>
                    </div>
                    @*<div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="cuadriculaTarjeta">
        <div class="row">
            <div class="col s12">
                <div class="card large blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><b>Habilidades blandas</b></span>
                        <p>
                            <ul>
                                <li><i class="material-icons tiny green">check</i> Organizado</li>
                                <li><i class="material-icons tiny green">check</i> Buena comunicación</li>
                                <li><i class="material-icons tiny green">check</i> Responsable</li>
                                <li><i class="material-icons tiny green">check</i> Autodidacta</li>
                                <li><i class="material-icons tiny green">check</i> Comprometido</li>
                                <li><i class="material-icons tiny green">check</i> Trabajo en equipo</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Inicio de parallax*@

@*Contenido del parallax*@
@*Imagen del parallax*@
<div class="parallax-container sizeParallax" style="width:100%">
    <div class="parallax" style="border:1px solid black"><img src="~/public/img/computerCoffe_opt.jpg"></div>
</div>
@*Fin del parallax*@
