@{
    ViewBag.Title = "Home Page";
}

@*Portada*@

@*Inicio de parallax*@

@*Contenido del parallax*@
<div class="headerContainer">
    <div id="headerName">Alexis Díaz</div>
    @*<div id="headerDescription">Desarrollador web</div>*@
    <div id="headerDescription1">Nunca se sabe lo suficiente</div>
</div>

@*Imagen del parallax*@
<div class="parallax-container" style="width:100%">
    <div class="parallax" style="border:1px solid black"><img src="~/public/img/fondoVerde.jpg"></div>
</div>
@*Fin del parallax*@
<br />
<br />
@*Tarjetas*@
<div class="containerCuadriculas">
    <div class="cuadriculaTarjeta">
        <div class="row">
            <div class="col s12">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Bienvenido a mi portafolio web</span>
                        <p style="font-size:17px">
                            Mi nombre es Alexis Diaz, estudié técnico en Ingeniería de Desarrollo de Software.
                            ¡Espero que que en mi sitio web encuentres el perfil que buscas! Puedes hechar un vistazo
                            a mis proyectos elaborados y si lo deseas ponerte en contacto conmigo directamente
                            desde la sección <q>CONTACTO</q>.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cuadriculaTarjeta">
        <div class="row">
            <div class="col s12">
                <div class="card cyan darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Objetivo profesional</span>
                        <p style="font-size:17px">
                            Buscar soluciones a problemas cotidianos mediante la programación de sistemas informáticos.
                            Apasionado en áreas tecnológicas de programación. Ansioso y comprometido a aceptar nuevos retos
                            y aprender de ellos, aportando un trabajo de calidad buscando satisfacer las
                            necesidades de los clientes.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cuadriculaTarjeta">
        <div class="row">
            <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Conocimientos</span>
                        <p>
                            <ul>
                                <li><i class="material-icons tiny">check</i>Manejo Visual Studio 2019 y Visual Studio Code.</li>
                                <li><i class="material-icons tiny">check</i>SQL Server.</li>
                                <li><i class="material-icons tiny">check</i>HTML5, CSS Y JavaScript.</li>
                                <li><i class="material-icons tiny">check</i>Lenguaje de programación C#</li>
                                <li><i class="material-icons tiny">check</i>Creación de aplicaciones de escritorio.</li>
                                <li><i class="material-icons tiny">check</i>Creación de aplicaciones web en ASP.NET MVC5</li>
                            </ul>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Inicio de parallax*@

@*Contenido del parallax*@
@*Imagen del parallax*@
<div class="parallax-container sizeParallax" style="width:100%">
    <div class="parallax" style="border:1px solid black"><img src="~/public/img/computerCoffe.jpg"></div>
</div>
@*Fin del parallax*@
