
@{
    ViewBag.Title = "Proyectos";
}

<div class="container">
    <h2>Proyectos</h2>

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="~/public/img/HotelMyre.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title black-text text-accent-1">Sistema de reservación para Hoteles</span>
                    <p>
                        MYRE son las iniciales de Mark Your Reservation. MYRE es una aplicación
                        web que sirve para administrar las operaciones de un hotel a la vez que sirve
                        para que los clientes puedan realizar reservas en linea.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Visitar sitio</a>
                </div>
            </div>
        </div>
    </div>
</div>

