
@{
    ViewBag.Title = "Proyectos";
}
<div class="container">
    <h2>Proyectos</h2>
    <div class="row">
        <div class="col s12 m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/public/img/myre_opt.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator black-text text-accent-1" style="font-size: 1.5em">Sistema de reservación para Hoteles<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="http://myre.somee.com/" target="_blank">Visitar sitio</a>
                    <a href="https://github.com/Alexis-Diaz/Sistema-Hotelero.git" target="_blank">Ver código</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Sistema de reservación para Hoteles<i class="material-icons right">close</i></span>
                    <p>
                        MYRE son las iniciales de Mark Your Reservation (Marca Tu Reservación). MYRE es una aplicación
                        web (actualmente en desarrollo) que sirve para administrar las operaciones de un hotel, ayuda a administrar las habitaciones
                        y llevar un control de consumos por cliente, incluye además la generación de una factura.<br />
                        Si deseas visitarlo para ver su funcionamiento, puedes utilizar estas credenciales:<br />
                        Usuario: Admin14  Password: admin123<br /><br />
                        <b>Tecnologías utilizadas</b><br /><br />
                        El sitio se creo en ASP.NET con el patrón de arquitectura MVC programado por capas. El lenguaje de
                        programación es C#. Para la apariencia se utilizó el framework de CSS Materialize, Javascript y JQuery. Para acceder a la base
                        de datos se utiliza el ORM EntityFramework Code First, y el SGBD es SQL-Server.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/public/img/portafolio_opt.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator black-text text-accent-1" style="font-size: 1.5em">Portafolio<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="https://github.com/Alexis-Diaz/Portafolio.git" target="_blank">Ver código</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Portafolio<i class="material-icons right">close</i></span>
                    <p>
                        El portafolio que actualmente visita forma parte de los proyectos efectuados. Aunque parece sencillo
                        ha sido creado con mucha pasión y cariño &#x1F60A;.<br /><br />
                        <b>Tecnologías utilizadas</b><br />
                        El sitio se creo en ASP.NET con el patrón de arquitectura MVC. Para la apariencia
                        se utilizó el framework de CSS Materialize, Javascript y JQuery. Utiliza además servicio de
                        mensajería.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/public/img/calculadora.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator black-text text-accent-1" style="font-size: 1.5em">Calculadora<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                            <a href="https://drive.google.com/file/d/1tPhz5iAczJotWdaIVxXec-dSvi6ICkmq/view?usp=sharing" target="_blank">Descargar instalador</a>
                        </div>
                        <div class="col s6">
                            <a href="https://github.com/Alexis-Diaz/Calculadora.git" target="_blank">Ver código</a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Calculadora<i class="material-icons right">close</i></span>
                    <p>
                        Esta calculadora realiza seis operaciones básicas, tales como sumar, restar, multiplicar, dividir, calcular la raíz cuadrada
                        y calcular el módulo de un número (residuo).
                        <br /><br />
                        <b>Tecnologías utilizadas</b><br />
                        Todo el proyecto ha sido creado en la plataforma de Windows Form, utilizando 100% C# para la programación de sus funciones.
                        <br /><br />
                        <b>Vista previa</b><br />
                        Para poder ver el funcionamiento del proyecto es necesario instalarlo en una PC con Windows, sin embargo, dejo un breve video para evitar esa parte.<br /><br />
                        <iframe style="width:100%; height:100%" src="https://www.youtube.com/embed/rmT-Oxnzin0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/public/img/cuestionarioWeb.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator black-text text-accent-1" style="font-size: 1.5em">Sitio web de preguntas y respuestas<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="http://www.cuestionarioweb.somee.com/" target="_blank" >Visitar sitio</a>
                    <a href="https://github.com/Alexis-Diaz/CuestionarioWebAPI.git" target="_blank">Ver código</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Preguntas y respuestas online<i class="material-icons right">close</i></span>
                    <p>
                        Preguntas y respuestas online es un sitio web que permite a los usuarios publicar preguntas para obtener respuestas. Entre sus características está
                        el poder reaccionar y comentar sobre las respuestas principales, asi como ordenar de más recientes a más antiguas y ordenar de mayor a menor reacción.
                        <br /><br />
                        <b>Tecnologías utilizadas</b><br />
                        El sitio ha sido creado con C# en ASP.NET 5 en capas, se utilizo además Entityframework como ORM para la comunicación con la base de datos. Para las vistas
                        se utilizo CSS y JavaScript junto con Bootstrap. Como gestor de bases de datos se utiliza SQL-Server
                    </p>
                </div>
            </div>
        </div>
        <br /> <br /> <br /> <br />  <br /> <br />
        <span style="padding-left:7px; font-size:1.2em; color: rgb(13 12 12)">Siempre habrá más que mostrar...</span>
        <br /> <br />  <br /> <br />
    </div>
</div>
